<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
-->
<!DOCTYPE web-app>


<web-app>

	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.AdminServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AlarmLogServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.AlarmLogServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AlarmActiveController</servlet-name>
		<servlet-class>com.asetune.central.controllers.AlarmActiveController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AlarmFormatterController</servlet-name>
		<servlet-class>com.asetune.central.controllers.AlarmFormatterController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AlarmHistoryController</servlet-name>
		<servlet-class>com.asetune.central.controllers.AlarmHistoryController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CollectorRefreshController</servlet-name>
		<servlet-class>com.asetune.central.controllers.CollectorRefreshController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LastSampleForCmController</servlet-name>
		<servlet-class>com.asetune.central.controllers.LastSampleForCmController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>HistorySampleForCmController</servlet-name>
		<servlet-class>com.asetune.central.controllers.HistorySampleForCmController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>HistoryActiveSamplesForCmController</servlet-name>
		<servlet-class>com.asetune.central.controllers.HistoryActiveSamplesForCmController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DbxTuneLogServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.DbxTuneLogServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DbxTuneLogTailWebSocketServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.DbxTuneLogTailWebSocketServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DbxTuneConfServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.DbxTuneConfServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DbxTuneReportsServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.DbxTuneReportsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DailySummartReportServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.DailySummartReportServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DsrSkipEntriesController</servlet-name>
		<servlet-class>com.asetune.central.controllers.DsrSkipEntriesController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.DownloadServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DownloadRecordingServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.DownloadRecordingServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DummyServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.DummyServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OverviewServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.OverviewServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PcsReceiver</servlet-name>
		<servlet-class>com.asetune.central.controllers.CentralPcsReceiverController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PcsQueueInfo</servlet-name>
		<servlet-class>com.asetune.central.controllers.PcsQueueInfoController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ShutdownServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.ShutdownServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.LogoutServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginCheckServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.LoginCheckServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChartBroadcastServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.ChartBroadcastServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>

	<servlet>
		<servlet-name>ServerLayoutController</servlet-name>
		<servlet-class>com.asetune.central.controllers.ServerLayoutController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SessionsController</servlet-name>
		<servlet-class>com.asetune.central.controllers.SessionsController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GraphPropertiesController</servlet-name>
		<servlet-class>com.asetune.central.controllers.GraphPropertiesController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GraphProfilesController</servlet-name>
		<servlet-class>com.asetune.central.controllers.GraphProfilesController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GraphDescriptionController</servlet-name>
		<servlet-class>com.asetune.central.controllers.GraphDescriptionController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GraphDataController</servlet-name>
		<servlet-class>com.asetune.central.controllers.GraphDataController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>HealthCheckController</servlet-name>
		<servlet-class>com.asetune.central.controllers.HealthCheckController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChartBroadcastWebSocketServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.ChartBroadcastWebSocketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChartBroadcastWebSocketServlet</servlet-name>
		<url-pattern>/api/chart/broadcast-ws</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>H2WriterStatServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.H2WriterStatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>H2WriterStatServlet</servlet-name>
		<url-pattern>/h2ws</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserDefinedContentServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.UserDefinedContentServlet</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>ShowplanPostgresServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.ShowplanPostgresServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowplanPostgresServlet</servlet-name>
		<url-pattern>/showplan/postgres</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ShowplanSqlServerServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.ShowplanSqlServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowplanSqlServerServlet</servlet-name>
		<url-pattern>/showplan/sqlserver</url-pattern>
	</servlet-mapping>


<!--
	<servlet>
		<servlet-name>MgtProxyServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.ccmgt.MgtProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MgtProxyServlet</servlet-name>
		<url-pattern>/api/cc/mgt/*</url-pattern>
	</servlet-mapping>
-->
	<!-- ============================================================ -->
	<servlet>
		<servlet-name>ProxyConfigGetServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.ccmgt.ProxyConfigGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyConfigGetServlet</servlet-name>
		<url-pattern>/api/cc/mgt/config/get</url-pattern>
	</servlet-mapping>

	<!-- ============================================================ -->
	<servlet>
		<servlet-name>ProxyConfigSetServlet</servlet-name>
		<servlet-class>com.asetune.central.controllers.ccmgt.ProxyConfigSetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyConfigSetServlet</servlet-name>
		<url-pattern>/api/cc/mgt/config/set</url-pattern>
	</servlet-mapping>




	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AlarmLogServlet</servlet-name>
		<url-pattern>/alarmLog</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DbxTuneLogServlet</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DbxTuneLogTailWebSocketServlet</servlet-name>
		<url-pattern>/logtail</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DbxTuneConfServlet</servlet-name>
		<url-pattern>/conf</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DbxTuneReportsServlet</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DailySummartReportServlet</servlet-name>
		<url-pattern>/api/dsr</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DsrSkipEntriesController</servlet-name>
		<url-pattern>/api/dsr/skip</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/download-local-dbxtune</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownloadRecordingServlet</servlet-name>
		<url-pattern>/download-recording</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DummyServlet</servlet-name>
		<url-pattern>/dummy</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OverviewServlet</servlet-name>
		<url-pattern>/overview</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>PcsReceiver</servlet-name>
		<url-pattern>/api/pcs/receiver</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>PcsQueueInfo</servlet-name>
		<url-pattern>/api/pcs/queueInfo</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>ShutdownServlet</servlet-name>
		<url-pattern>/admin/shutdown</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>LoginCheckServlet</servlet-name>
		<url-pattern>/login-check</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>ChartBroadcastServlet</servlet-name>
		<url-pattern>/api/chart/broadcast-sse</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>ServerLayoutController</servlet-name>
		<url-pattern>/api/server-layout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SessionsController</servlet-name>
		<url-pattern>/api/sessions</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GraphPropertiesController</servlet-name>
		<url-pattern>/api/graphs</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GraphProfilesController</servlet-name>
		<url-pattern>/api/graph/profiles</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GraphDescriptionController</servlet-name>
		<url-pattern>/api/graph/description</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GraphDataController</servlet-name>
		<url-pattern>/api/graph/data</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HealthCheckController</servlet-name>
		<url-pattern>/api/healthcheck</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AlarmActiveController</servlet-name>
		<url-pattern>/api/alarm/active</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AlarmFormatterController</servlet-name>
		<url-pattern>/api/alarm/formatter</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AlarmHistoryController</servlet-name>
		<url-pattern>/api/alarm/history</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CollectorRefreshController</servlet-name>
		<url-pattern>/api/collector-refresh</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LastSampleForCmController</servlet-name>
		<url-pattern>/api/last-sample</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HistorySampleForCmController</servlet-name>
		<url-pattern>/api/history-sample</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HistoryActiveSamplesForCmController</servlet-name>
		<url-pattern>/api/history-active-samples</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UserDefinedContentServlet</servlet-name>
		<url-pattern>/api/udc</url-pattern>
	</servlet-mapping>

 <!-- 
    <servlet id="jsp">
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>logVerbosityLevel</param-name>
            <param-value>DEBUG</param-value>
        </init-param>
        <init-param>
            <param-name>fork</param-name>
            <param-value>>false</param-value>
        </init-param>
        <init-param>
            <param-name>keepgenerated</param-name>
            <param-value>>true</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.jspf</url-pattern>
        <url-pattern>*.jspx</url-pattern>
        <url-pattern>*.xsp</url-pattern>
        <url-pattern>*.JSP</url-pattern>
        <url-pattern>*.JSPF</url-pattern>
        <url-pattern>*.JSPX</url-pattern>
        <url-pattern>*.XSP</url-pattern>
    </servlet-mapping>
 -->
 
	<!-- http://www.thecoderscorner.com/team-blog/hosting-servers/17-setting-up-role-based-security-in-tomcat/ -->
<!--
	<security-role>
		<role-name>admin</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin pages</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
-->

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>DbxTuneCentralRealm</realm-name>
		<form-login-config>
			<form-login-page>/index.html?login=open</form-login-page>
			<form-error-page>/index.html?login=failed</form-error-page>
		</form-login-config>
	</login-config>
 
<!--
	<login-config>
        // https://github.com/eclipse/jetty.project/issues/5442
		<auth-method>BASIC?silent=true,FORM</auth-method>
		
		<auth-method>BASIC</auth-method>
		<realm-name>DbxTuneCentralRealm</realm-name>
	</login-config> 
-->

	<security-constraint>
		<web-resource-collection>
	        <web-resource-name>Secure resources</web-resource-name>
	        <url-pattern>/admin/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>admin</role-name>
	    </auth-constraint>
	</security-constraint>

<!--
	<login-config>

		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login/login.jsp</form-login-page>
			<form-error-page>/login/loginfail.jsp</form-error-page>
		</form-login-config>
	</login-config> 
--> 

</web-app> 